.navbar {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 60px;
    text-decoration: none;
}

.navbar li {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 18px;
    // border: 1px solid red; 
    
}


.navbar li .link {
    text-decoration: none; 
  }
  
  .navList {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .navList li {
    margin-right: 20px; 
  }
  
  .navList li:last-child {
    margin-right: 0; 
  }
  
